* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    width: 40%;
}

.hero-section {
    background: rgb(243, 241, 237);
    margin-top: 100px;
}

.icon-box {
    width: 70px;
    height: 70px;
    align-self: center;
    font-size: 24px;
}

.icon-text {
    width: 90%;
}

@media (max-width: 769px) {
    .login-container {
        width: 60%;
    }  
}

@media (max-width: 426px) {
    .login-container {
        width: 90%;
    }
}