* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  width: 40%;
}

.hero-section {
  background: #f9f9f9;
  margin-top: 90px;
}

.icon-box {
  width: 70px;
  height: 70px;
  font-size: 24px;
}

.icon-text {
  width: 90%;
}

.review {
  background: linear-gradient(
      rgba(237, 231, 225, 0.6),
      rgba(237, 231, 225, 0.6)
    ),
    url(../images/counts-bg.jpg) no-repeat center center/cover;
}
.clients .client-logo img {
  height: 50%;
  filter: grayscale(100%);
  transition: 0.3s;
}
.clients .client-logo {
  height: 120px;
}

.icon-wrapper i {
  font-size: 65px;
}
.testimonial {
  background: linear-gradient(rgba(11, 41, 55, 0.9), rgba(11, 41, 55, 0.9)),
    url(../images/cta-bg.jpg) no-repeat center center/cover;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.google-map {
  position: relative;
  height: 75vh;
}

.google-map iframe {
  height: 80%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.contact .icon-box {
  width: 50px;
  height: 50px;
  font-size: 24px;
}
.backToTop {
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.review h3 {
  font-size: 45px;
}

.service-card {
  overflow: hidden;
}

.icon-wrapper {
  left: -20px;
}

.text-wrapper {
  margin-left: 40px;
}

.clients .client-logo img:hover {
  filter: grayscale(0%);
  transform: scale(1.3);
}

.portfolio-wrap {
  overflow: hidden;
  z-index: 1;
  z-index: 1;
  background: rgba(255, 255, 255, 0.6);
}

.portfolio-wrap .portfolio-info {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all ease-in-out 0.3s;
  opacity: 0;
}

.portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 5;
  opacity: 0;
}

.portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  top: 35px;
  left: 35px;
  border-top: 3px solid #60676a;
  border-left: 3px solid #60676a;
  position: absolute;
  z-index: 200;
}

.portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #60676a;
  border-right: 3px solid #60676a;
  position: absolute;
  z-index: 200;
}

.portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.gallery-box {
  overflow: hidden;
  transition: all ease-in-out 0.4s;
}

.gallery-box:hover img {
  transition: all ease-in-out 0.4s;
}

.gallery-box:hover img {
  transform: scale(1.1);
}

.navbar-nav .nav-link.active {
  color: blue !important;
  font-weight: 900;
}

.social-wrap {
  /* display: none; */
  opacity: 0;
  transition: 0.4s;
}
.team-card {
  transition: all ease-in-out 0.4s;
}
.team-card:hover .social-wrap {
  /* display: block; */
  opacity: 1;
  transition: ease-in-out 0.4s;
}

.social-links {
  /* background: coral; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  transition: all ease-in-out 0.4s;
}

.team-card:hover .social-box{
  transform: translateY(-30px);
  transition: all ease-in-out 0.4s;

}

.social-box {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links ul {
  margin-left: 0;
  padding-left: 0;
  transition: ease-in-out 0.3s;
}

.social-links ul li {
  list-style: none;
}

@media (max-width: 769px) {
  .login-container {
    width: 60%;
  }
}

@media (max-width: 426px) {
  .login-container {
    width: 90%;
  }
}
